body{
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

/*Навигация - флекс блок*/
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}
/*Навигация - левый флекс блок*/
.nav__logo {
    display: flex;
    column-gap: 12px;
    align-items: center;
}
.logo__box {
}
.logo__img {
}
.logo__name {
    color: black;
    font-size: 20px;
}
/*Навигация - правый флекс блок*/
.nav__box{
    display: flex;
    
}
.nav__list {
    display: flex;
    align-items: center;
    column-gap: 10px;
    
}
.nav__item {
    padding: 12px 20px;
}
.nav__link {
    font-size: 16px;
    line-height: 22px;
    color: black;
}

/*Навигация - правый флекс блок - кнопка*/
.nav__btn-box{
    width: 122px;
    height: 50px;
    background-color: rgba(162, 89, 255, 1);
    border-radius: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7px;
}
/*Навигация - правый флекс блок - бургер*/

.burger{
    display: none;
}
@media screen and (max-width: 810px) {
  .nav__box {
    display: none;
  }
    .burger {
      display: block;
    }
    .burger:focus ~ .nav__box {
      display: flex;
      flex-direction: column;
      background-color: aqua;
      padding: 20px;
    }
    .nav__box {
      display: flex;
      gap: 20px;
    }  
    .nav__link {
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      padding: 10px;
    }
  
    .nav__link:hover {
      background-color: #fff;
      color: #000;
    }  
  }

